@import "tailwindcss";


body {
background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1e3a80, #0e4665, rgb(20, 45, 58), #1e2638);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #313b54, #1a5779, #1f5f82, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fonts {
  font-family: "Google Sans"
}